/* Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Roboto Font (ideal for Material-UI) */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* Global Styles */
* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.App {
    margin: auto;
    max-width: 1000px;
}

.loading {
    text-align: center;
    display: block;
    margin: 2rem auto;
}
