/* Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Roboto Font (ideal for Material-UI) */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* Title h1 font */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

/* Global Styles */
* {
    font-family: "Roboto", sans-serif;
}

body {
    /* background-color: #f2f5f5; */
    /* background: linear-gradient(#114357, #F29492); */
    /* background: linear-gradient(#FFB75E, #ED8F03); */
    /* background: linear-gradient(#8e9eab, #eef2f3); */
    background: linear-gradient(#3f51b5, #2a0845);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.App {
    background-color: white;
    margin: auto;
    width: 95%;
    border-radius: 2px;
    /* max-width: 1200px; */
    padding: 0;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.loading {
    text-align: center;
    display: block;
    margin: 2rem auto;
}

.complete {
    border-bottom: 3px solid #3f51b5;
    box-shadow: none;
}

.todo-container {
    height: 100%;
}

li {
    transition: 0.4s ease-in-out;
    text-transform: capitalize;
    border-bottom: 3px solid #f50057;
    /* box shadow from material ui styles */
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

li:hover {
    cursor: pointer;
}

.clock {
    display: none;
}

@media (min-width: 768px) {
    .clock {
        display: block;
    }
}
